* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

p {
  margin-top: 4px;
  margin-bottom: 4px;
}

ul {
  padding-left: 65px;
}
ol {
  padding-left: 30px;
  padding-top: 0px;
  margin-top: 2px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mate SC", serif;
  margin-top: 4px;
  margin-bottom: 4px;
}
h5 {
  padding-left: 18px;
  font-size: 17px;
}
body {
  margin: 0;
  font-size: 16px;
  background-color: #fffdd0;
}

/* unvisited link */
a:link {
  color: rgb(75, 38, 13);
}

/* visited link */
a:visited {
  color: rgb(0, 111, 155);
}

/* mouse over link */
a:hover {
  color: hotpink;
}

/* selected link */
a:active {
  color: rgba(0, 255, 85, 0.733);
}

#mainNav {
  padding-top: 20px;
  padding-bottom: 0px;
}

.mainHeader {
  padding: 50px;
  padding-bottom: 10px;
  text-align: center;
  background-color: #f8c19c;
}

.subHeading {
  font-size: 18px;
}

.articleHeader {
  padding: 35px;
  padding-bottom: 8px;
  padding-top: 8px;
}

.sectionHeader {
  padding: 4px;
}
.sectionDiv {
  padding: 50px;
  padding-top: 4px;
  padding-bottom: 4px;
}

.contentDiv {
  padding: 50px;
  padding-top: 0px;
  padding-bottom: 4px;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}
