/**
Ruleset selector{style declaration:value}
tag selector -> name
class selector -> .name
universal selector -> *
id selector -> #name
attribute selector -> [name]

(Margin(Border(Padding(Content)Padding)Border)Margin)

shorthands 
border.. 
border .. 
border 

= border : 5px solid red
*/
* {
  box-sizing: border-box;
}

*::selection {
  background-color: #f8c19c;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  background-color: #fffdd0;
}

main {
  max-width: 100ch;
  margin: 0 auto;
}

/*
@media
*/
@media screen and (min-width: 375px) {
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  html {
    font-size: 18px;
  }
}

@media print {
  .hire-me {
    display: none;
  }
  .mainNav {
    display: none;
  }
}

p {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}

a {
  padding-left: 0.313rem;
  padding-right: 0.313rem;
}

ul {
  padding-left: 4.063rem;
}

ol {
  padding-left: 0rem;
  margin-top: 0.125rem;
  padding-top: 0rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oswald", serif;
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
}
h3 {
  font-size: 1.438rem;
  padding-left: 0.125rem;
  background-color: #f8c19c;
}
h4 {
  font-size: 1.3rem;
}
h3::first-letter {
  color: #fffdd0;
  padding-left: 0.875rem;
  padding-right: 0.125rem;
  text-shadow: -0.063rem -0.063rem 0 #000, 0.063rem -0.063rem 0 #000,
    -0.063rem 0.063rem 0 #000, 0.063rem 0.063rem 0 #000;
}
h5 {
  padding-left: 1.125rem;
  font-size: 1.125rem;
}

/*
===POINTS===
*/
.fa {
  color: grey;
}
.checked {
  color: orange;
}

/*
Current Content Highlighter
*/
:target h3 {
  background-color: #fffdd0;
}
:target h3::first-letter {
  color: #f8c19c;
}
:target {
  background-color: #f8c19c;
}

/*
MAIN ELEMENTS
*/
.mainHeader {
  position: relative;
  padding: 3.125rem;
  padding-bottom: 0;
  text-align: center;
  background-color: #f8c19c;
}
.headerWrapper {
  font-size: 3rem;
}
.mainHeading {
  font-size: 1em;
}
.subHeading {
  font-size: 0.25em;
}
.subHeading::after {
  content: "1️⃣3️⃣3️⃣7️⃣";
  padding-left: 0.188rem;
}

/*HireMe*/

.hireMe:hover {
  background-color: #f8c19c;
  color: black;
  border: solid 0.063rem grey;
  font-weight: bolder;
}
.hireMe {
  position: fixed;
  right: 1.25rem;
  top: 1.25rem;
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: #fffdd0;
  color: black;
  font-weight: bold;
}
@media screen and (max-width: 1068px) {
  .hireMe {
    position: fixed;
    right: 1.25rem;
    top: 1.25rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    background: #fffdd0;
    color: black;
    font-weight: bold;
  }
}

/* MainNav*/
.mainNav {
  padding-top: 1.25rem;
  padding-bottom: 0;
}
.mainNav a {
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: bold;
}
.mainNav a:first-child {
  padding-left: 0.5rem;
}
.mainNav a:last-child {
  padding-right: 0.5rem;
}
.mainNav a:link {
  color: rgb(75, 38, 13);
}
.mainNav a:visited {
  color: rgb(75, 38, 13);
}
.mainNav a:hover {
  color: rgb(255, 115, 1);
  background-color: #fffdd0;
}
.mainNav a:active {
  color: #fffdd0;
  background-color: rgb(255, 115, 1);
}

/*ARTICLE*/
/*Lines between*/
article + article {
  border-top: #f8c19c solid;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.articleHeader {
  position: relative;
  padding: 2.188rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}
.articleHeading {
  font-size: 1.5rem;
  position: relative;
  left: -0.75rem;
}

/*SECTION*/
.sectionHeader {
  padding: 0.25rem;
}
.sectionDiv {
  padding: 3.125rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.sectionHeading {
  font-size: 1.3rem;
  display: inline-block;
}
.sectionSubHeading {
  font-family: "Oswald", serif;
  font-size: 1rem;
  display: inline-block;
}
.sectionSubHeading::before {
  content: " - ";
}

/*CONTENT*/
.contentDiv {
  padding-left: 1rem;
  padding-right: 3.125rem;
  padding-top: 0rem;
  padding-bottom: 0.25rem;
}
.expSubHeading::before {
  content: " - ";
}
.expSubHeading {
  font-family: "Oswald", serif;
  font-size: 1rem;
  display: inline-block;
}
.expHeading {
  font-size: 1.3rem;
  display: inline-block;
}
.contact {
  margin-bottom: 2rem;
}
.contact p,
ol {
  font-weight: bold;
  list-style-type: none;
}

/*Old Skilltable @wll be fixed soon*/
.points {
  padding-left: 1.25rem;
  width: 6rem;
}
.tdSkills {
  font-size: 1rem;
  padding-right: 1.25rem;
  padding-left: 2.5rem;
  width: 10rem;
}
.floatBox {
  /*_float: left;*/
  display: flex;
  width: 100%;
  margin-right: 2%;
  padding: 0rem;
}
.floatBox:last-child {
  margin-right: 0;
}
.floatBox:first-child {
  padding-top: 0;
}
.floatBox::after {
  content: "";
  display: block;
  clear: both;
}
.softSkills {
  width: 50%;
}
.techSkills {
  width: 50%;
}

/* = BETA AREA = */

/*TWITTERBUTTON*/
.twitter {
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}

/*stickyTest*/
.stickyNote {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 0.313rem;
  background-color: #cae8ca;
  border: 0.125rem solid #4caf50;
}

/*TO THE TOP-BUTTON FAKE*/
.topLink:hover {
  background-color: #fffdd0;
}
.topLink {
  position: absolute;
  right: 3.125rem;
  top: 0.8125rem;
  padding: 0.125rem;
  border-radius: 0.0625rem;
  _background: #fffdd0;
  color: black;
  font-weight: bold;
}
